*.png
*.jpg
*.zip
*.wma
Face/
ExList/
Cut_In/
CG/
BGM/
AnList/
Rare5_List/
Rare6_List/
audio/
bustup/
card/
screen_shot/
SPList/
エモ/
カットイン/
SP4/
ぱいろん/
ダウンロード/
*.rar
chusen.html
!doc/status01.png
!doc/senseki*